body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#gotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: #777;
    color: white;
    cursor: pointer;
}
#cycle{
  clear :both;
  height:450px;
  width:600px;
  padding :0;
  margin:0 auto;
  z-index:0;
  clear :both;
  display:block;
}
.show1{
  background:url(https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/kitchen.jpg) no-repeat scroll 0 0 transparent;
  padding :0;
  height:450px;
  width:500px;
  top:0;
  left:0;
}
.show2{
  background:url(http://www.ikea.com/ie/en/images/rooms/ikea-a-traditional-kitchen-for-the-modern-life__1364299529841-s4.jpg) no-repeat scroll 0 0 transparent;
  padding :0;
  height:450px;
  width:500px;
  top:0;
  left:0;
}
.show3{
  background:url(http://www.ikea.com/ms/media/cho_room/20153/kitchen/20153_cosk07a/20153_cosk07a_01_PH124156.jpg) no-repeat scroll 0 0 transparent;
  padding :0;
  height:450px;
  width:500px;
  top:0;
  left:0;
}
header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/jumbotron.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
